body {
    width: 1200px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    height: 2336px;
}

h1 {
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 13px 20px 42px 20px;

}

h2 {
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.heroBlock {
    padding: 252px 386px 256px 386px;
}

.heroSubhead {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 32px;
    font-weight: 400;
}

.logoBig {
    display: block;
    margin: 0 auto;
    width: 63px;
}

.header {
    background: url('../assets/header.png');
    height: 800px;
    margin: 0;
}

.headSection01 {
    color: #464547;
    font-weight: 700;
    margin-top: 87px;
    margin-bottom: 40px;
}

.section01 {
    background: #EEEEEE;
    height: 700px;
    margin: 0;
    width: 1200px;
    position: absolute;
    top: 800px;
}

.subHeadSection01 {
    font-size: 24px;
    line-height: 32px;
    color: #666666;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}

.textSection01 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin: 0 120px 21px 97px;
    /* padding-bottom: 1px; */
}

.section02 {
    height: 666px;
    background: url('../assets/IMG-main.png');
    margin: 0;
    width: 1200px;
    position: absolute;
    top: 1500px;
}

p {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: black;
}

.footer {
    height: 170px;
    background: #464547;
    width: 1200px;
    position: absolute;
    top: 2166px;

}

.btnRead {
    background: #55C2D8;
    color: white;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-align: center;
    border-radius: 18px;
    width: 115px;
    height: 36px;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 5px 17px 6px 18px;
    letter-spacing: 0.1em;
}

/* 
header,
main,
section {
    margin: 0;
    padding: 0;
} */

.learnMore {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.btnPlay {
    background: #39C2D7;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 254px;
    left: 525px;

}

.triangle {
    position: absolute;
    top: 47px;
    left: 40px;
    margin-left: 15px;
    width: 0px;
    height: 0px;
    border-top: 27.5px solid transparent;
    border-left: 55px solid white;
    border-bottom: 27.5px solid transparent;
    border-radius: 2px;
}